/*
 *
 * ===== Brand Colors =====
 * Primary #00b6b1
 * Secondary #ffc87d
 * Background #e4f8f3
 * Heading #424242
 * Body #828282
 * Border #ccc
 */

body {
	background: linear-gradient(-45deg,#92effd ,#92effd , #2e3192, #516395);
	background-size: 400 400;
	animation: gradient 15s ease infinite;
	height: 570vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
  color: #424242;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang,Microsoft YaHei,Source Han Sans TC,Noto Sans CJK TC,WenQuanYi Micro Hei,sans-serif;
  border-top: 9px solid #00b6b1;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, #00b6b1 0%, #a5e9d7 100%);
}

.background {
  max-width: 1000px;
  position: relative;
  margin: auto;
} 
  
section {
  width: 600px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.intro {
  position: relative;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: darkblue solid;
  object-fit: top;
  position: absolute;
  top: 35px;
  left: calc(65% - 50px);
}

.card {
  background: #fff;
  box-sizing: border-box;
  margin-top: 80px;
  padding: 45px 20px 10px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}

.card h1 {
  font-size: 2.0rem;
  margin-top: 10px;
}
.card h2 {
  font-size: 1rem;
  padding-bottom: 20px;
  margin-top: 8px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #ccc;
  color: #828282;
}
.card h3 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  display: inline-block;
}
.card h3 + p {
  display: inline-block;
  margin-bottom: 10px;
}
.card p {
  color: #828282;
  margin-top: 0;
}
.card a {
  color: #00b6b1;
}
.card a:hover {
  opacity: 0.5;
}

.link h2,
.social h2 {
  font-size: 1.25rem;
}

.link {
  text-align: center;
}
.link a {
  display: block;
  background: #fff;
  color: #00b6b1;
  padding: 15px 20px;
  margin-bottom: 15px;
  border: 2px solid;
  border-radius: 5px;
}
.link a:hover {
  background: #00b6b1;
  color: #fff;
  border-color: #00b6b1;
}
.link a + h2 {
  margin-top: 30px;
}

.social {
  text-align: center;
}
.social a {
  color: #00b6b1;
}
.social a:not(:last-child) {
  margin-right: 5px;
}
.social a:hover {
  opacity: 0.5;
}
.social svg {
  font-size: 36px;
}

footer {
  text-align: center;
  color: #828282;
}
footer a {
  color: #00b6b1;
}

@media only screen and (min-width: 768px) {
  .background-text {
    font-size: 220px;
  }
  .card {
    margin-top: 150px;
  }
}

@media only screen and (min-width: 992px) {
  .background-text {
    font-size: 250px;
  }
  .card {
    margin-top: 180px;
  }
}

@media only screen and (min-width: 1200px) {
  .background-text {
    font-size: 300px;
  }
  .card {
    margin-top: 200px;
  }
}
